:root {
    --page-background: #eee;
}
[data-theme="dark"] {
    --page-background: #111;
}

body {
  padding: 5px 10px;
  background-color: var(--page-background);
}

.profile-photo {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 0;
  top: 0;
  border: 2px solid #ffffff00;
  object-fit: cover;
}

.photo-container:hover {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.chat-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.chat-message {
  text-align: justify;
  max-width: 65%;
  width: fit-content;
  padding: 10px 15px;
  position: relative;
  border-radius: 8px;
  font-size: small;
}

.received-chat {
  background-color: lightblue;
}

.received-chat::after {
  content: " ";
  position: absolute;
  top: calc(100% - 14px);
  right: calc(100% - 1px);
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent lightblue transparent transparent;
}

.sent-chat {
  background-color: lightcoral;
  margin: 8px 0px 0px auto;
  order: 2;
}
.sent-chat::after {
  content: " ";
  position: absolute;
  top: calc(100% - 14px);
  left: calc(100% - 1px);
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent lightcoral;
}

.message-time {
  font-size: x-small;
  color: #00000099;
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
