:root {
  font-size: medium;
  --chat-background: #fef9e7;
  --received-message: #aed6f1;
  --sent-message: #f1948a;
  --sent-reaction: #f5b7b1;
  --received-reaction: #d6eaf8;
  --login-background: #f2f4f4;
  --registration-background: #f2f4f4;
}
[data-theme="dark"] {
  --chat-background: #212f3c;
}

html {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  margin: 0px;
  padding: 5px 10px;
  background-color: var(--chat-background);
  overflow-x: hidden;
}
#root {
  height: 100%;
}

.loading-balls {
  margin-top: 30svh;
  background-color: var(--received-message);
  border: 3vw solid var(--sent-message);
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  bottom: 0px;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
#loading-ball-2 {
  animation-delay: 500ms;
}
#loading-ball-3 {
  animation-delay: 1s;
}

.profile-photo {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 0;
  top: 0;
  border: 2px solid #ffffff00;
  object-fit: cover;
}

.photo-container:hover {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

#login-tabs button {
  height: fit-content;
  font-size: 1rem;
  border-radius: 5px 5px 0px 0px;
}

#login-tabs button:disabled {
  color: #777;
}

input {
  font-size: 1.2rem;
}


#login-page form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

#login-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin: 10px 15px; */
}

#login {
  /* background-color: #ebf5fb; */
  flex-grow: 1;
  color: #1b4f72;
}
#login input {
  color: #3498db;
  outline-color: #2874a6;
}

#register {
  /* background-color: #fdedec; */
  flex-grow: 1;
  color: #943126;
}
#register input {
  color: #e74c3c;
  outline-color: #b03a2e;
}

#chat-log {
  overflow: hidden auto;
  padding: 0px 12px 0rem 12px;
  flex-grow: 1;
  align-content: end;
  display: flex;
  flex-direction: column-reverse;
}

.chat-div {
  margin-bottom: 8px;
  width: fit-content;
  padding: 10px 15px 5px 15px;
  position: relative;
  border-radius: 8px;
  font-size: 1rem;
  z-index: initial;
}

.chat-message {
  text-align: justify;
}

.received-chat {
  background-color: var(--received-message);
  justify-content: right;
  box-shadow: -2px 2px 5px #00000033;
}

.received-chat::after {
  content: " ";
  position: absolute;
  top: calc(100% - 18px);
  right: calc(100% - 1px);
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--received-message) transparent transparent;
}

.sent-chat {
  background-color: var(--sent-message);
  align-self: flex-end;
  /* margin: 8px 0px 0px auto; */
  justify-self: right;
  box-shadow: 2px 2px 5px #00000033;
}
.sent-chat::after {
  content: " ";
  position: absolute;
  top: calc(100% - 18px);
  left: calc(100% - 1px);
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--sent-message);
}

.message-time {
  font-size: 0.75rem;
  color: #222;
  margin: 4px 0px 0px 0px;
  text-align: right;
}
.reaction {
  position: absolute;
  padding: 4px;
  border-radius: 5px;
  top: 0px;
  font-size: 0.75rem;
  margin: 6px 2px;
  text-wrap-mode: nowrap;
}
.sent-reaction {
  background-color: var(--sent-reaction); 
  left: calc(100% - 5px);
  outline: 0px solid var(--sent-reaction);
  transition: outline 1s;
}

.highlighted {
  outline: 2px solid #b03a2e;
  /* animation: reaction-highlight 1s linear; */
}

.sent-reaction::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: calc(100% - 1px);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--sent-reaction) transparent transparent;
}
.received-reaction {
background-color: var(--received-reaction);
right: calc(100% - 5px);
}
.received-reaction::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: calc(100% - 1px);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--received-reaction);
}
.add-reaction {
  position: absolute;
  z-index: -1;
  margin: 0;
  align-content: center;
  transition: right 300ms, z-index 0ms 0ms;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0%;
  padding-right: 5px;
}
.extended {
  right: calc(0% - 50px);
  z-index: 12;
  transition: right 300ms, z-index 0ms 300ms;
}
.reaction-input {
  background-color: var(--sent-reaction); 
  left: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.submit-reaction {
  background-color: #f9e79f;
  color: #212f3c;
}
.submit-reaction:hover {
  color: #f9e79f;
  background-color: #212f3c;  
}
.cancel-reaction {
  color: #b03a2e;
  background-color: #ebedef;
}
.cancel-reaction:hover {
  background-color: #b03a2e;
  color: #ebedef;
}


.reaction-input::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: calc(100% - 1px);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--sent-reaction) transparent transparent;
}
.reaction-input input {
  font-size: 0.75rem;
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  0% {
    bottom: 0px;
    background-color: var(--received-message);
    border: 3vw solid var(--sent-message);
  }
  50% {
    bottom: 25px;
    background-color: var(--sent-message);
    border: 3vw solid var(--received-message);
  }
  100% {
    bottom: 0px;
    background-color: var(--received-message);
    border: 3vw solid var(--sent-message);
  }
}

@media (min-width: 750px) {
  :root {
    font-size: x-large;
  }
}
