.photo:hover {
    /* animation: rotate 2s linear 0 infinite; */
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}